body{
    background-color: #20639b;
}

.Input{
    margin-left: 100px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
    color: black;
    background: rgba(0,0,0,0.5);
    border-style: none;

}
.image{
    width: 20px;
    height: 20px;
}

.temp{
    padding-left: 170px;
    font-size: 2em;
}

.other-info{
    display: inline-block;
    padding-top: 115px;
    padding-left: 15px;
    font-family: 'Prompt', sans-serif;

}
.pic{
    margin-left: 200px
}
.button{
    border-radius: 40%;
    width: 20px;
    margin-left: 50px;
    margin-bottom: -5px;
    cursor: pointer;
}

.Weather-div{
    border-radius: 2%;
    margin: auto;
    width: 450px;
    height: 90px;
    background-color: white;
    transition: height 2s;
}

.info{
    margin-left: 20px;
    margin-top: 30px;
    font-family: 'Prompt', sans-serif;

}

.Weather-div.expanded{
    width: 510px;
    height: 500px;
}

.title{
    text-align: center;
}

.weather-info{
    display: none;
}

.header{
    text-align: center;
    font-family: 'Prompt', sans-serif;

}

.Data{
    padding-top: 20px;
    margin-left: 20px;
}